element.style {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
#wm-ipp div, #wm-ipp tr, #wm-ipp td, #wm-ipp a, #wm-ipp form {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    /* z-index: 2147483640; */
    height: auto;
}
#wm-ipp div, #wm-ipp canvas {
    display: block;
}
#wm-ipp, #wm-ipp * {
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    min-width: 0 !important;
    min-height: 0;
    outline: none;
    float: none;
    text-align: left;
    border: none;
    color: #000;
    text-indent: 0;
    position: initial;
    background: none;
}
user agent stylesheet
div {
    display: block;
}
style attribute {
    display: block;
    direction: ltr;
}
.body {
    background-color: #000000;
    background-image: url();
    background-position: 0px 0px;
    background-size: 100em;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 1vw;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}